@import url('https://fonts.googleapis.com');

.glass {
    background: rgba(15, 18, 30, 0.85);
    backdrop-filter: blur(22px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow:
        0 0 50px rgba(56, 189, 248, 0.25),
        inset 0 0 20px rgba(255, 255, 255, 0.04);

    font-family: 'Google Sans Flex';
    font-weight: bold;
    font-size: 16px;
}

.neon-text {
    color: rgb(var(--neon));
    text-shadow:
        0 0 8px rgba(56, 189, 248, 0.9),
        0 0 20px rgba(56, 189, 248, 0.6);
    font-family: 'Google Sans Code';
    font-weight: bold;
    font-size: 16px;
}
